body {
    background-color: rgba(232,218,207);
}
div{
    color:rgb(241, 240, 240);
    background-color:rgb(34, 107, 241);
}
h4{
    
    color:#000080;
}
#one{
    background-color:white;
    font-weight:bold;
    color:black;
}
body{
    font-family:serif;
}
/* Mobile */
@media (max-width: 600px) {

    body {
        padding: 8px;
        overflow-x: hidden;
    }

    input[type="text"],
    input[type="password"],
    select,
    textarea {
        max-width: 100%;
        box-sizing: border-box;
    }

    h1 {
        font-size: 24px;
    }

    h4 {
        margin: 12px 0;
    }

    textarea {
        width: 100%;
        box-sizing: border-box;
    }
}